body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vw;
}
header {
  width: 100%;
}
p {
  padding: 10px;
}
i {
  font-size: 1.5rem;
  padding: 10px;
}
#nav {
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;

  align-items: center;
  font-size: 1.3rem;
  color: white;
}
#nav-right li,
#nav-left li {
  display: inline;
  margin: 5px;
}
#nav-right ul {
  flex: 1;
}
#nav-left {
  margin-right: 100px;
}
#cardtabs {
  border: 1px solid black;
}
#section2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0;
  position: relative;
}
#section2-list {
  position: absolute;
  align-self: center;
  margin: 30px;
  font-size: 1.5rem;
  border: 2px solid black;
}

#section3 {
  margin: 0 auto;
  width: 90%;
}

#section4 {
  clear: both;
  width: 80%;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
}
#section4-1,
#section4-2,
#section4-3 {
  width: 31%;
}
#section4 p {
  padding-left: 0;
  padding-right: 10px;
}
#section4 span {
  border-bottom: 2px solid gray;
}
#section5 {
  background-color: #f6f6f6;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#section5 h3 {
  width: 100%;
}

#section5 a {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  margin: 10px;
  height: fit-content;
  border: 1px solid gray;

  color: black;
}
#section5-left p,
#section5-right p,
#section5-left i,
#section5-right i {
  align-self: center;
}
#section5 img {
  padding-left: 20px;
}
#section6 {
  width: 100%;
  clear: both;
}
#section6-left {
  width: 50%;
  float: left;
  display: flex;
}
#section6-right {
  float: right;
  width: 50%;
}
#section6 a {
  color: black;
  border-bottom: 2px solid black;
  float: left;
}
