* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vw;
  font-size: 16px;
}
header {
  width: 100%;
  height: 64px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: black;
}

button {
  background-color: black;
  padding: 10px 12px 10px 12px;
  border-radius: 30px;
  border: 2px solid black;
}
a {
  color: black;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0 12px 0px;
  align-self: center;
}
.ul-holder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 24px 0 24px;
  align-self: center;
}
.nav-mid {
  display: flex;
  flex-wrap: wrap;
  flex: 2;
  margin-left: 24px;
  align-self: center;
}
.nav-mid a,
.nav-right a {
  padding: 10px 12px 10px 12px;
  transition: all 0.1s ease-in-out !important;
}
.logo {
  justify-self: flex-start;
  align-self: center;
  font-size: 1.5rem;
}
.nav-right {
  justify-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: center;
}
.nav li {
  display: inline;
}

i {
  padding: 5px;
}
.sign-up {
  border-radius: 20px;
}

.nav .nav-mid li:hover a,
.nav .nav-right li:hover a {
  background-color: rgb(69, 69, 69) !important;
  border-radius: 20px !important;
}

/* section1*/

.drive-or-deliver {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.in {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.card-info {
  padding: 32px;
  margin: 0 auto;
  line-height: 2rem;
}
.card-label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(211, 205, 205);
  padding-left: 15px;
  font-size: 14px;
  line-height: 1rem;
}
.ride,
.drive,
.food {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  width: 105px;
  transition: all 0.5s ease-in-out !important;
}
.drive-or-deliver h2 {
  font-weight: 500;
  margin: 0;
}

.drive a:hover,
.food a:hover,
.ride a:hover {
  border-bottom: 5px solid black !important;
}

.card-label a {
  padding-bottom: 10px;
  display: inline-block;
  justify-content: center;
  width: 105px;
  height: 105px;
  padding: 18px 12px 20px 12px;
  font-size: 14px;
}
.card-label i {
  padding: 0 0 15px 8px;
  font-weight: bolder;
  font-size: 1.5rem;
}

.card-bottom {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.drive-or-deliver button {
  border-radius: 0;
  padding: 14px 25px 14px 25px;
  margin-right: 30px;
  margin-top: 5px;
}
.drive-or-deliver button a {
  border-bottom: none;
}
.card-img img {
  width: 100%;
  height: 100%;
}
.card-img {
  width: 100%;
}

/* section2*/
.uber-for-business {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 300px;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
}
.uber-for-business-img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  background-image: url(img/HP-U4B-NYC-bkg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: 80%;
  background-position-y: 50%;
}

.uber-for-business-card {
  width: 100%;
  height: 100%;
  padding: 56px 32px 56px 32px;
}
.uber-for-business h3 {
  margin-top: 0;
}
.uber-for-business-card button {
  margin-top: 20px;
  border-radius: 0;
}

/*section3*/
.safty {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.safty-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;

  clear: both;
}

.safty h4 {
  padding: 0 24px 40px 24px;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0;
}
.safty-left,
.safty-right {
  padding: 30px;
  float: left;
}
.safty span {
  border-bottom: 1px solid gray;
}

/*section4*/

.about {
  clear: both;
  margin: 0;
  padding: 0;
}
.about-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 40px 24px 40px 24px;
}
.about-us,
.about-newsroom,
.about-global {
  width: 100%;
  min-height: 300px;
  padding-bottom: 30px;
  float: left;
}
.about h5 {
  font-weight: 400;
}
.about span {
  border-bottom: 2px solid gray;
}

.safty a,
.about a,
.card-bottom a {
  border-bottom: 1px solid rgb(177, 171, 171);
  padding-bottom: 5px;
  transition: all 0.5s;
  font-size: 18px;
}

.safty a:hover,
.about a:hover,
.card-bottom a:hover .safty a .about a .card-bottom a {
  border-bottom: 3px solid black;
}

/*sectio5*/

.download-container {
  background-color: #f6f6f6;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 24px 0 24px;
  background-color: #f4f4f4;
}
.download h4 {
  width: 100%;
}
.download-left,
.download-right {
  width: 100%;
  height: 116px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid rgb(179, 166, 166);
  margin: 15px;
}
.download img {
  width: 110px;
  padding: 15px;
  align-self: flex-start;
}
.download h5 {
  flex: 1;
  font-weight: 500px;
}
i {
  transition: all 0.5s !important;
}
.download-left:hover i,
.download-right:hover i {
  transform: translateX(+10px) !important;
}

/*section6*/

.register-right,
.register-left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px;
  border-bottom: 2px solid rgb(182, 174, 174);
  font-weight: 500;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  transition: all 0.5s ease-in-out !important;
}
.register-left:hover .register-icon,
.register-right:hover .register-icon {
  transform: translateX(20px) !important;
  cursor: pointer !important;
}

.register {
  display: flex;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
  padding: 0 24px 0 24px;
}
.register-as {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 60%;
}
.section6-icon {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

/* footer*/

footer {
  color: white;
  background-color: black;
  width: 100%;
  padding: 40px 24px 40px 24px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer-container {
  width: 100%;
}
footer a {
  color: white;
  transition: all 0.1s ease-in-out !important;
}
footer i,
footer img {
  padding: 15px;
}
footer.col {
  flex: 1;
}
footer span {
  margin: 10px;
}
footer p {
  margin: 0;
}
footer .row,
footer .col {
  padding: 30px 12px 30px 12px;
  line-height: 30px;
}
.footer-bottom,
.footer-bottom a {
  color: gray;
  font-size: 0.9rem;
}
footer a:hover {
  color: gray !important;
}

@media only screen and (min-width: 600px) {
  .drive-or-deliver span {
    margin-left: 30px;
  }

  .safty-container {
    padding: 0 32px 65px 32px;
  }
  .safty-left,
  .safty-right {
    width: 48%;
    float: left;
    padding: 0;
  }
  .safty-left {
    margin-right: 25px;
  }
  .safty img {
    width: 100%;
  }
  .safty h4 {
    padding-left: 30px;
  }
  .about {
    height: auto;
  }

  .about-container {
    padding: 56px 32px 56px 23px;
    margin: 0;
    height: 100%;
  }
  .about-us,
  .about-newsroom,
  .about-global {
    width: 50%;
    padding-right: 40px;
    font-size: 16px;
  }

  .register-left,
  .register-right {
    width: 45%;
    height: 150px;
    margin: 20px 0 10px 20px;
  }
  .register {
    padding: 20px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .card-label a {
    padding-top: 25px;
    justify-content: center;
  }

  .ul-holder {
    margin: 0 9px 0 9px;
    padding: 0 45px 0 45px;
  }

  .drive-or-deliver-card {
    width: 39%;
    font-size: 16px;
    position: absolute;
    background-color: white;
    margin: 70px 0 0 175px;
  }
  .ride,
  .drive,
  .ride {
    flex: 1;
  }
  .drive-or-deliver span {
    margin: 0;
  }
  .uber-for-business-card {
    padding-left: 105px;
  }
  .safty-container,
  .about {
    margin: 0 73px;
  }
  .ssafty-left {
    margin-right: 30px;
  }
  .safty h4 {
    margin: 0 80px;
  }

  .about-us,
  .about-newsroom,
  .about-global {
    width: 31.3%;
  }

  .download-container {
    padding: 65px;
  }
  .download-left,
  .download-right {
    width: 45%;
    height: 180px;
    margin-left: 30px;
  }
  .download img {
    align-self: center;
    width: 180px;
  }
  .download h4 {
    padding-left: 32px;
  }

  .register-left,
  .register-right {
    width: 40%;
    margin-left: 80px;
  }
   {
  }
  footer i {
    padding-left: 0;
    font-size: 1.5rem;
  }
  footer img {
    width: 160px;
  }
  .footer-bottom {
    padding-left: 30px !important;
  }
}
